.container {
  transition: top 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  height: 306px;
  max-height: 306px;
}

.image_container {
  display: block;
  position: absolute;
  left: 0;
  max-width: 200px;
}

.image {
  display: block;
  width: 100%;
  object-fit: contain;
  cursor: zoom-in;
  user-select: none;
}

.image:active {
  cursor: grabbing;
}

.fullscreenImages:active {
  cursor: grabbing !important;
}

.imgMargin:active {
  cursor: grabbing !important;
}