.image {
  display: block;
  position: absolute;
  left: 0;
  object-fit: contain;
  cursor: zoom-in;
  height: 400px;
  user-select: none;
}

.image:active {
  cursor: grabbing;
}

.fullscreenImages:active {
  cursor: grabbing !important;
}

.imgMargin:active {
  cursor: grabbing !important;
}