body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  font-family: var(--font-geist-sans);
  position: fixed;
  overflow: hidden;
}

@media(max-width: 516px) {
  .simplebar-scrollable-y {
    width: 100dvw !important;
    height: 160px !important;
  }
}

.simplebar-track {
  pointer-events: auto !important;
}

.simplebar-scrollbar {
  pointer-events: auto !important;
  cursor: grab !important;
}

.simplebar-scrollbar:active {
  cursor: grabbing !important;
}

.simplebar-height-auto-observer-wrapper {
  pointer-events: auto !important;
}

.simplebar-placeholder {
  pointer-events: auto !important;
}

.simplebar-height-auto-observer {
  pointer-events: auto !important;
}