.container {
  transition: top 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  height: 606px;
  max-height: 606px;
}

.image_container {
  display: flex;
  position: absolute;
  left: 0;
  flex-direction: column;
}

.image {
  display: block;
  width: 100%;
  object-fit: contain;
  cursor: zoom-in;
}

.image:active {
  cursor: grabbing;
}

.fullscreenImages:active {
  cursor: grabbing !important;
}

.imgMargin:active {
  cursor: grabbing !important;
}

@media (max-width: 516px) {
  .container {
    height: 100%;
    max-height: 753px;
  }

  .image_container {
    width: calc(100% / 1.4);
  }
}